<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity">
<head>
<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>SIGTMA Administracion</title>
 <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
 
 <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}"/>
 
  <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
   <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" />
  
 
 <!-- <link rel="stylesheet" href="../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/> -->
 <!-- fuentes -->
 
 <!-- js -->
 <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
 <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
 <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
  <script type="text/javascript" src="../static/js/npm.js" th:src="@{/js/npm.js}"></script>
  
  <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
    

    <script type="text/javascript">

    $(document).ready(function(){

        $(".dropdown-toggle").dropdown('toggle');

    });  

    </script>

    
</head>
<body> 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SIGTMA </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li   class="active"><a href="#" th:href="@{/admin/usuario}" sec:authorize="hasAuthority('ADMIN')" >Usuarios<span class="sr-only">(current)</span></a></li>
        
        <li sec:authorize="hasAnyAuthority('TACTICO','ESTRATEGICO','ADMIN')" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes Tacticos <span class="caret"></span></a>
          <ul  class="dropdown-menu" role="menu">
            <li><a href="#">Embarque Mensual Por Cliente Especifico</a></li>
            <li><a href="#">Embarque Realizado Por Fecha Especifica</a></li>
            <li><a href="#">Productos de Mayor Exportacion</a></li>
            <li><a href="#">Nuevos Clientes</a></li>
            <li><a href="#">Embarcaciones por pais</a></li>
            <li><a href="#">Servicios de Trámites</a></li>
            
          </ul>
        </li>
        <li sec:authorize="hasAnyAuthority('ESTRATEGICO','ADMIN')" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes Estrategicos <span class="caret"></span></a>
          <ul  class="dropdown-menu" role="menu">
            <li><a href="#">Clientes que no han contratado el servicio</a></li>
            <li><a href="#">Clientes que están en mora</a></li>
            <li><a href="#">Mejores Clientes</a></li>
            <li><a href="#">Ganancias mensuales</a></li>
            <li><a href="#">Embarques Mensual por cliente especifico</a></li>
            
            
          </ul>
        </li>
        
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      <span class="glyphicon glyphicon-user"></span>Usuario: <span sec:authentication="name"></span></a>
      	<ul class="dropdown-menu" role="menu">	
      		<li><a href="#" th:href="@{/logout}">Salir</a></li>
      	</ul>
      </li>
      </ul>	
      
    </div>
  </div>
</nav>

<div class="container">
    <div class="jumbotron">
       <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</div>

<!-- cuerpo de trabajo -->
<div class="container">
<form class="form-horizontal" th:action="@{/admin/usuario}" th:object="${usuarios}" method="post" role="form">
  <fieldset>
    <legend>Registro de Usuarios</legend>
    <div class="form-group">
    <label th:if="${#fields.hasErrors('nomUsuario')}" th:errors="*{nomUsuario}" 
    class="Validation-message"></label>
      <label for="nombre" class="col-lg-2 control-label">Nombre Usuario</label>
      <div class="col-lg-4">
        <input class="form-control" th:field="*{nomUsuario}"  id="nombre" name="nomUsuario" placeholder="Nombre usuario" type="text"/>
      </div>
    </div>
    <div class="form-group">
    
      <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
      <div class="col-lg-4">
        <input class="form-control" th:field="*{password}" name="password" id="inputPassword" placeholder="Contraeña" type="password"/>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
      </div>
    </div>
    <div class="form-group">
      <label for="rol" class="col-lg-2 control-label">PERFIL</label>
      <div class="col-lg-4">
       <select id="roles" name="nomRol" class="form-control" >
       	<option value="" th:disabled="disabled" th:selected="selected">Perfil de usuario</option>
       	<option th:each="roles : ${rol}" th:value="${roles.idRol}" th:text="${roles.nomRol}"></option>
       	
       </select>
        
      </div>
    </div>
    
    
    	
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </fieldset>
  <span th:utext="${successMessage}"></span>
</form>

<hr/>
<hr/>
<footer>
	<p>&copy; COMCA El Salvador </p>
</footer>
</div>
</body>
</html>